<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Omni Labs Interview Appssss</h1>
    <!-- Register -->
     <a href="/users/new">Register</a>
     <br>
    <!-- Sign in -->
    <a href="sessions/new">Sign in</a>
  </body>
</html>
