<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Omni Labs Interview App</title>
    <link rel="stylesheet" href="css/skeleton.css">
  </head>
  <body>
    <h1>Omni Labs Interview App</h1>
    <!-- Register -->
     <a href="sessions/register">Register</a>
     <br>
    <!-- Sign in -->
    <a href="sessions/new">Sign in</a>
  </body>
</html>
