<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Omni Labs Interview - Welcome</title>
  </head>
  <body>
    <h1>Welcome, <%= currentUser.username %>!</h1>

    <a href="/messages">See & Write Public Messages</a>
    <br>
    <a href="/messages/<%= currentUser._id %>">See & Write Private Messages</a>
    <br>
    <a href="/sessions/logout">Logout</a>

  </body>
</html>
