<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Omni Labs Interview - Welcome</title>
  </head>
  <body>
    <h1>Welcome, <%= currentUser.username %></h1>
    <%= currentUser._id %>

    <a href="#">Make a private message to yourself</a>
    <br>
    <a href="#">Leave a public message</a>
    <br>
    <a href="/messages">See Public Messages</a>
    <br>
    <a href="/users/<%= currentUser._id %>">See Private messages</a>
    <br>
    <a href="/sessions/logout">Logout</a>

  </body>
</html>
