<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Omni Labs Interview - Private Messages</title>
  </head>
  <body>
    <h1><%= currentUser.username %>'s Private Messages</h1>
    Current user id: <%= currentUser._id %>
    Req params id: <%= requestedID %>

    <h2>Write a private message</h2>
    <form>
    </form>
    
    <!-- Message that there are "no private messages" if there are none. -->
    <p>All private messages will be seen here</p>
  </body>
</html>
