<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Omni Labs Interview - Public Messages</title>
  </head>
  <body>
    <h1>Public Messages</h1>
    <!-- Message that there are "no private messages" if there are none. -->
    <p>All public messages will be seen here</p>
  </body>
</html>
