<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Omni Labs Interview - Public Messages</title>
    <link rel="stylesheet" href="/css/skeleton.css">
  </head>
  <body>
    <h1>Public Messages</h1>
    <h2>Welcome, <%= currentUser.username %>! Check out all of the messages.</h2>
    <a href="/sessions/logout">Logout</a>
      <hr>
    <h2>Write a public message</h2>
    <form action="/messages" method="POST">
      <input type="text" class="u-full-width" name="message" placeholder="message"/>
      <br>
      <input type="hidden" name="author_id" value="<%= currentUser._id %>">
      <input type="hidden" name="status" value="public">
      <br>
      <input type="submit" value="submit" />
    </form>

    <hr>

    <h2>Public Messages:</h2>
    <!-- Message that there are "no private messages" if there are none. -->
    <table class="u-full-width">
      <tbody>
        <tr>
      <% for(let i = 0; i < messages.length; i++){ %>
          <td><%=messages[i].message%></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    </body>
    </html>

  </body>
</html>
