<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Password reset</title>
  </head>
  <body>
    <p>Please follow this link to reset your password <%= resetUrl %></p>
  </body>
</html>
