<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Omni Labs Interview - Registration</title>
    </head>
    <body>
        <h1>Register</h1>
        <form action="/users" method="POST">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password" />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
