<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Omni Labs Interview - Registration</title>
        <link rel="stylesheet" href="../css/skeleton.css">
    </head>
    <body>
        <h1>Register</h1>
        <form action="/sessions/register" method="POST">
            <input type="text" name="username" placeholder="username"/>
            <br>
            <input type="password" name="password" placeholder="password" />
            <br>
            <select name="organization" placeholder ="Select your organization">
              <option value="Omni Labs">Omni Labs</option>
              <option value="Google">Google</option>
              <option value="Airbnb">Airbnb</option>
              <option value="General Assembly">General Assembly</option>
            </select>
            <br>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
